.production_button {
  margin: 2%;
  height: 50px;
  width: 50px;
  background-color: black;
  text-align: center;
  text-size-adjust: auto;
}

.CFG_FlexBox_Div {
  top: 10%;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  margin: 3.5%;
}

.outputBox {
  background-color: green;
}

.settingsBox {
  background-color: rgb(64, 63, 63);
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 1%;
  position: absolute;
  right: 25px;
  top: 65px;
}

.setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.CFG_Text_Div {
  padding-top: 10px;
  width: 400px;
  background-color: rgb(60, 60, 225);
}

.CFG_Button_Div {
  position: relative;
  display: flex;
  flex-direction: row;
}

.CFG_Rules {
  display: flex;
  flex-direction: column;
  max-height: 65vh;
  overflow: scroll;
}

body {
  flex-direction: column;
}

.gear {
  position: absolute;
  right: 25px;
  top: 65px;
  background-color: transparent;
  font-size: xx-large;
  padding: 0%;
  
}

.CFG_Button_Div > button {
	/* margin: 1px; */
	/* text-align: center; */
	/* align-content: center; */
	border: 2px solid #00000045;
  background-color: black;
	padding: 0.6em 1em .6em 1em;
	margin-bottom: 3px;
	margin-right: 1px;
	margin-left: 1px;
}