.production_button {
  margin: 2%;
  height: 50px;
  width: 50px;
  background-color: black;
  text-align: center;
  text-size-adjust: auto;
}

.CFG_FlexBox_Div {
  top: 10%;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  margin: 3.5%;
}

.outputBox {
  background-color: green;
}

.settingsBox {
  background-color: rgb(64, 63, 63);
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 1%;
  position: absolute;
  right: 25px;
  top: 65px;
  color: white;
}

.setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.CFG_Text_Div {
  padding-top: 10px;
  width: 400px;
  background-color: rgb(60, 60, 225);
}

.CFG_Button_Div {
  position: relative;
  display: flex;
  flex-direction: row;
}

.CFG_Rules {
  display: flex;
  flex-direction: row;
  max-height: 65vh;
  height: 30px;
  overflow:visible;
}

body {
  flex-direction: column;
}

.gear {
  position: absolute;
  right: 25px;
  top: 65px;
  background-color: transparent;
  font-size: xx-large;
  padding: 0%;
  
}

.CFG_Button_Div > button {
	/* margin: 1px; */
	/* text-align: center; */
	/* align-content: center; */
	border: 2px solid #00000045;
  background-color: black;
	padding: 0.6em 1em .6em 1em;
	margin-bottom: 3px;
	margin-right: 1px;
	margin-left: 1px;
}
  /* v This changes ALL/Navbar Buttons, should be moved before main branch merge v*/
button {
  background-color: black;
  color: white;
}
.navbar button {
  background-color: black;
  color: white;
}
  /* ^ This changes ALL/Navbar Buttons, should be moved before main branch merge ^ */

.settingsBox {

  display: grid;
  align-items: center;
  row-gap: 4px;
}
.setting {
  display: contents;
}
.setting .setting-name {
  grid-column: 1/2;
  margin: 2px;
  margin-top: -.2em;
}
.settingsBox > .setting:first-child > .setting-name {
  margin-bottom: .2em;
}

.setting .setting-val{
  grid-column: 3/4;
  width: 3ch;
  text-align: end;
  margin-bottom: 2px;
  margin-top: -.2em;
} 
.setting input {
  grid-column: 2/3;
  width: 100px;
}
.setting button {
  background-color: black;
  grid-column: 2/3;
  width: 50%;
  align-self: center;
  justify-self: center;
  padding: 0;
}