.landinglogo {
  width: 30vw;
  height: 30vw;
  object-fit: contain;
  margin-top: 20vh;
  transform: scale(1, 1);
  transition: 0.1s;
  border-radius: 50%;

  &:hover {
    transform: scale(1.1, 1.1);
    border-width: 100px;
    border-color: #73a4d0;
  }
}

.landing {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  align-items: center;
  background-color: #224666;
}
