.landinglogo {
  width: 50vw;
  height: 50vw;
  object-fit: contain;
  padding-top: 2.5vh;
}
.landing {
  min-width: 100vw;
  min-height: 100vh;
  top: 0px;
  left: 0px;
  background-color: #213547;
  position: absolute;
}
