.navbar {
  position: absolute;
  display: grid;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 40px;
  align-items: center;
  background-color: #e3700c;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
