.sidebar {
  display: grid;
  height: 100%;
  align-items: normal;
  background-color: #797575;
  border: 5px;
}

.sidebar_Button {
  position: relative;
  border: 5px;
  /* height: 70%;
  width: 20%; */
  margin: 2%; 
  font-weight: bold;
}

.sidebar_Minimize_Button {
  background-color: #d6d6d694;
  /*border: 5px;*/
  height: 120px;
  width: 100px;
  top: 55px;
}

.flexBox {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 0;
  top: 10%;
}
