.sidebar {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 0;
  top: 10%;
}
.sidebar {
  input {
    background-color: rgb(33, 33, 33);
    color: white;
  }
  .sidebar_Button {
    position: relative;
    border: 5px;
    /* height: 70%;
    width: 20%; */
    margin: 2%; 
    font-weight: bold;
    background-color: black;
    color: white;
  }
  .sidebar_Button:hover{
    background-color: orange;
  }

  .sidebar_Minimize_Button {
    background-color: #d6d6d694;
    /*border: 5px;*/
    height: 120px;
    width: 100px;
    top: 55px;
    align-self: center;
  }
}